.container {
    width: 50%;
    margin: 50px auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    text-align: center;
}

input[type="text"] {
    padding: 8px;
    margin: 5px;
    width: 200px;
}

button {
    padding: 10px 20px;
    background-color: #007bff;
    color: #faf2f2;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}
